{# templates/registration/login.html #}
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Вход — Расти с ВТБ{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <div class="card custom-card p-4">
      <h3 class="h5 mb-3">Вход в аккаунт</h3>

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          {% bootstrap_form form %}
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <a class="small" href="{% url 'register' %}">Регистрация</a>
          <button type="submit" class="btn vtb-btn">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
